body {
  margin: 0;
  overflow: hidden;
}
.element {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
#banner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Ember Bold';
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a98ff;
}
#controller-container,
#mainController {
  left: 0;
  top: 0;
  width: 300px;
  height: 250px;
}
#leftTrigger {
  left: 58px;
  top: 75px;
  background-image: url(leftTrigger.png);
  width: 28px;
  height: 34px;
}
#rightTrigger {
  left: 144px;
  top: 38px;
  background-image: url(rightTrigger.png);
  width: 30px;
  height: 17px;
}
#controller {
  left: 0;
  top: 0;
  background-image: url(controller.png);
  width: 300px;
  height: 250px;
}
#purpleLight {
  left: 0;
  top: 0;
  background-image: url(purpleLight.png);
  width: 300px;
  height: 250px;
}
#redLight {
  left: 0;
  top: 0;
  background-image: url(redLight.png);
  width: 300px;
  height: 250px;
}
#greenLight {
  left: 0;
  top: 0;
  background-image: url(greenLight.png);
  width: 300px;
  height: 250px;
}
#leftStick {
  left: 138px;
  top: 114px;
  background-image: url(leftStick.png);
  width: 23px;
  height: 23px;
}
#rightStick {
  left: 138px;
  top: 114px;
  background-image: url(rightStick.png);
  width: 23px;
  height: 23px;
}
@font-face {
  font-family: 'Ember Bold';
  src: url(ember_bold.woff2);
}
@font-face {
  font-family: 'Ember Light';
  src: url(ember_light.woff2);
}
@font-face {
  font-family: 'Ember Regular';
  src: url(ember_regular.woff2);
}
#banner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner {
  background-color: #1a98ff;
  font-size: 14px;
  display: grid;
  padding: var(--e-heightx2) var(--e-widthx2);
  grid-template-areas: 'box' 'logo' 'ctaLegal';
  grid-template-rows: minmax(53vh,auto) auto min-content;
}
#border,
#cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
}
#border {
  border: 1px solid grey;
}
#cover {
  background-color: #fff;
}
#legal {
  font-family: 'Ember Regular';
}
#cta > span {
  position: relative;
}
#cta > span > span:first-child {
  opacity: 0;
}
#cta > span > span:last-child {
  position: absolute;
  right: 0;
}
#banner.product {
  overflow: visible;
}
#banner.product #frame1,
#banner.product #frame2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#banner.product #frame1 {
  background-color: #1a98ff;
  clip-path: inset(0 0 0 -100%);
}
#banner.product #frame2 {
  clip-path: inset(0 -100% 0 0);
  left: 100vw;
}
#banner.product.controller #product > * {
  margin: auto;
  transform: scale(1.25);
}
#banner.product.headphones #frame1 {
  background-color: #0f9f8d;
}
#banner.product.headphones #frame1 #product {
  top: 0;
}
#banner.product.headphones #frame1 #product > *,
#banner.product.headphones #frame1 #product > * > * {
  width: 100%;
  height: 100%;
  margin: auto;
  background-position: center;
}
#banner.product.headphones #frame1 #headphone_shad {
  mix-blend-mode: multiply;
}
#banner.product.vacuum #shine {
  clip-path: circle(25% at 130px 165px);
}
#banner.product.alexa #alexa {
  margin: auto;
  transform: scale(1.5);
}
#banner.product.alexa #shadow {
  mix-blend-mode: multiply;
}
#banner.product.pan #product {
  left: 34%;
  top: -10%;
  transform: scale(.8);
}
#banner.product #product {
  z-index: 20;
}
#package {
  transform: translateZ(.02px);
  background-image: url(package_tr-tr.png);
}
#packageShadow {
  transform: translateZ(.01px);
  background-image: url(packageShadow.png);
}
:root {
  --e-widthx1: 8.59vw;
  --e-heightx1: 10.21vw;
  --e-widthx2: 5.18vw;
  --e-heightx2: 6.16vw;
  --e-widthx4: 2.59vw;
  --e-heightx4: 3.08vw;
  --e-width-landscape: 13.3vh;
  --e-height-landscape: 15.81vh;
}
#dateProxy {
  position: absolute;
  opacity: 0;
}
#logo {
  fill: #fff;
  grid-area: logo;
  max-width: 295px;
  justify-self: center;
  align-self: center;
}
#cta-legal-container {
  display: flex;
  flex-direction: column;
  grid-area: ctaLegal;
  align-items: center;
  text-align: center;
  font-size: 1.55em;
}
#cta-legal-container #cta {
  line-height: 1;
}
#cta-legal-container #legal {
  padding-top: .29em;
  font-family: 'Ember Regular';
  font-size: .75em;
  line-height: 1;
}
#banner > #pattern-container {
  opacity: 0;
}
#pattern-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: 0;
  user-select: none;
  position: absolute;
  left: 0;
  pointer-events: none;
  transform-origin: 0 0;
  transform: scale(.96)!important;
}
#pattern-container > * {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#DATE_TR {
  width: 181.772vw!important;
}
.row {
  height: 27.1vw;
}
.row:nth-of-type(5n+1) {
  transform: translate(4vw,0)!important;
}
.row:nth-of-type(5n+2) {
  transform: translate(-70.4vw,0)!important;
}
.row:nth-of-type(5n+3) {
  transform: translate(-162vw,0)!important;
}
.row:nth-of-type(5n+4) {
  transform: translate(-70.4vw,0)!important;
}
.row:nth-of-type(5n+5) {
  transform: translate(-162vw,0)!important;
}
.visual {
  grid-area: box;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-height:680px) and (min-width:301px) {
  .visual {
    display: none;
  }
}
@media only screen and (max-height:490px) and (max-width:250px) {
  .visual {
    display: none;
  }
}
#box {
  position: relative;
  left: -20%;
  top: 26vh;
  height: 130%;
  width: 130%;
  max-height: 400px;
}
@media only screen and (max-width:300px) {
  .banner {
    font-size: 10px;
  }
  #logo {
    max-width: 185px;
  }
  #box {
    top: 9vh;
  }
}
#box > * {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
}
#box #packageShadow {
  mix-blend-mode: multiply;
}
#banner.product.controller #product {
  width: 100%;
  height: 100%;
}
#banner.product.controller #product #controller-container,
#banner.product.controller #product #mainController {
  left: unset;
  top: unset;
}
#banner.product.controller #product #controller-container {
  display: flex;
  justify-content: center;
  width: 80vw;
  transform: translate(3vw,12.4vh) scale(2.1);
}
@media only screen and (max-width:300px) {
  #banner.product.controller #product #controller-container {
    transform: translate(3vw,9vh) scale(1.5);
  }
}
@media only screen and (max-width:250px) {
  .banner {
    font-size: 6.5px;
  }
  #box {
    height: 150%;
    left: -30vw;
    top: 16vh;
    width: 150%;
  }
  #banner.product.controller #product #controller-container {
    transform: scale(1);
  }
}
#banner.product.controller #product #leftStick {
  left: 70px;
  top: 89px;
}
#banner.product.controller #product #rightStick {
  left: 152px;
  top: 84px;
}
#banner.product.controller #product > * {
  top: unset;
  right: unset;
  bottom: unset;
  position: unset;
  background-position: unset;
  left: unset;
  margin: unset;
  transform: unset;
}
#banner.product.vacuum #product {
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#banner.product.vacuum #product #vacuum-container {
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  background-position: unset;
  width: 300px;
  height: 250px;
  transform: scale(1.88) translateY(4.5vh);
}
@media only screen and (max-width:300px) {
  #banner.product.vacuum #product #vacuum-container {
    transform: scale(1.4) translateY(4.5vh);
  }
}
@media only screen and (max-width:250px) {
  #banner.product.vacuum #product #vacuum-container {
    transform: scale(1);
  }
}
#banner.product.vacuum #product > * {
  top: unset;
  right: unset;
  bottom: unset;
  background-position: unset;
  left: unset;
  margin: unset;
}