footer {
	display: flex;
	align-items: baseline;
	gap: 1em;
	border-top: solid var(--line-width) currentcolor;
	overflow: hidden;
	padding: 1em 0;
}

footer label,
footer select {
	color: currentcolor;
}
