main {
	display: grid;
	gap: 1em;
	grid-auto-flow: row dense;
	grid-template-columns: 5em 1fr 1fr 5em;
	grid-template-rows: min-content auto min-content;
	grid-template-areas: 'type name name updated'
		'prev preview preview next'
		'size versions infos infos'
		;
}

section, #name {
	border-top: solid var(--line-width) var(--color);
	padding: var(--gap);
}

main>span {
	aspect-ratio: 1;
	background-color: var(--color-transparent);
	display: grid;
	place-content: center;
}

#type {
	grid-area: type;
}

#type svg {
	width: 2em;
}

#name {
	grid-area: name;
	line-height: 0.8em;
}

#updated {
	grid-area: updated;
}

#prev {
	grid-area: prev;
}

#preview {
	grid-area: preview;
	position: relative;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	place-self: center;
}

#next, #prev, #type, #updated, #size, #name {
	display: grid;
	place-content: center;
}

#next:hover, #prev:hover {
	background: var(--color-transparent);
}

#next {
	grid-area: next;
}

#size {
	grid-area: size;
	text-align: center;
	font-weight: bold;
}

#infos {
	grid-area: infos;
}

#versions {
	grid-area: versions;
}

#width, #height {
	position: absolute;
	border-width: 0;
	border-style: solid;
	border-color: var(--color);
}

#width {
	bottom: calc(100% + 0.05em);
}

#height {
	left: calc(100% - 0.5em);
	rotate: 0.25turn;
	/* transform: rotate(-1turn); */
}