psd-preview {
	background: var(--background-color-2);
	color: var(--color-2);
	display: grid;
	place-items: center;
}

psd-preview svg {
	position: absolute;
	width: calc(var(--gap) * 2);
	height: calc(var(--gap) * 2);
	top: calc(var(--gap) * 0.5);
	left: calc(var(--gap) * 0.5);
}

psd-preview img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
