bannercafe-logo {
	/* text-transform: uppercase; */
	/* font-weight: bold; */
	/* letter-spacing: 0.1em; */
	display: grid;
	grid-template-columns: auto auto;
	/* line-height: 0.75em; */
}

bannercafe-logo > span {
	/* padding: 0.2em 0.2em 0.08em; */
	margin: 0;
}

bannercafe-logo > span:last-child {
	/* background-color: var(--color-primary);
	color: var(--background-color); */
}
