body {
  margin: 0;
  overflow: hidden;
}
.element {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
#banner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Ember Bold';
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a98ff;
}
.packageShadow {
  left: 0;
  top: 0;
  background-image: url(packageShadow.png);
  width: 390px;
  height: 330px;
}
.package {
  left: 0;
  top: 0;
  background-image: url(package_pl-pl.png);
  width: 390px;
  height: 330px;
}
@font-face {
  font-family: 'Ember Bold';
  src: url(ember_bold.woff2);
}
@font-face {
  font-family: 'Ember Light';
  src: url(ember_light.woff2);
}
@font-face {
  font-family: 'Ember Regular';
  src: url(ember_regular.woff2);
}
#banner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner {
  background-color: #1a98ff;
  display: grid;
  padding: var(--e-heightx1) var(--e-widthx1);
  gap: 0 var(--e-heightx1);
  font-size: 3vw;
  grid-template-areas: 'box box' 'ctaLegal logo';
  grid-template-rows: auto min-content min-content min-content;
  grid-template-columns: auto auto;
}
#border,
#cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
}
#border {
  border: 1px solid grey;
}
#cover {
  background-color: #fff;
}
#legal {
  font-family: 'Ember Regular';
}
#cta > span {
  position: relative;
}
#cta > span > span:first-child {
  opacity: 0;
}
#cta > span > span:last-child {
  position: absolute;
  right: 0;
}
#banner.product {
  overflow: visible;
}
#banner.product #frame1,
#banner.product #frame2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#banner.product #frame1 {
  background-color: #1a98ff;
  clip-path: inset(0 0 0 -100%);
}
#banner.product #frame2 {
  clip-path: inset(0 -100% 0 0);
  left: 100vw;
}
#banner.product.controller #product > * {
  margin: auto;
  transform: scale(1.25);
}
#banner.product.headphones #frame1 {
  background-color: #0f9f8d;
}
#banner.product.headphones #frame1 #product {
  top: 0;
}
#banner.product.headphones #frame1 #product > *,
#banner.product.headphones #frame1 #product > * > * {
  width: 100%;
  height: 100%;
  margin: auto;
  background-position: center;
}
#banner.product.headphones #frame1 #headphone_shad {
  mix-blend-mode: multiply;
}
#banner.product.vacuum #shine {
  clip-path: circle(25% at 130px 165px);
}
#banner.product.alexa #alexa {
  margin: auto;
  transform: scale(1.5);
}
#banner.product.alexa #shadow {
  mix-blend-mode: multiply;
}
#banner.product.pan #product {
  left: 34%;
  top: -10%;
  transform: scale(.8);
}
#banner.product #product {
  z-index: 20;
}
#package {
  transform: translateZ(.02px);
}
#packageShadow {
  transform: translateZ(.01px);
}
:root {
  --e-widthx1: 8.59vw;
  --e-heightx1: 10.21vw;
  --e-widthx2: 5.18vw;
  --e-heightx2: 6.16vw;
  --e-widthx4: 2.59vw;
  --e-heightx4: 3.08vw;
  --e-width-landscape: 13.3vh;
  --e-height-landscape: 15.81vh;
}
#dateProxy {
  visibility: hidden;
  position: absolute;
}
#pattern-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: calc(var(--e-heightx2)/ 2);
  user-select: none;
  position: absolute;
  left: 0;
  pointer-events: none;
  width: 100%;
}
#pattern-container > * {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.visual {
  grid-area: box;
  left: unset;
  top: 0;
  display: flex;
  place-items: center;
  flex-grow: 1;
  width: 125%;
  height: 125%;
  position: relative;
}
.visual #packageShadow {
  mix-blend-mode: multiply;
}
.visual > * {
  top: 0;
  left: -15%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
}
#logo {
  fill: #fff;
  grid-area: logo;
  display: flex;
  width: 50vw;
  place-self: end;
}
#cta-legal-container {
  display: flex;
  flex-direction: column;
  grid-area: ctaLegal;
  align-self: end;
  align-items: flex-start;
  margin-bottom: 2.5vw;
}
#cta-legal-container #cta {
  font-size: 1.35625em;
  line-height: 1em;
}
#cta-legal-container #cta.hide {
  margin-bottom: -.1em;
  display: block;
}
#cta-legal-container #legal {
  padding-top: .29em;
  font-family: 'Ember Regular';
  font-size: 1.085em;
  line-height: 1;
  margin-bottom: -.1em;
  text-align: left;
}
#cta-legal-container #legal.hide {
  display: none;
}
@media (orientation:portrait) {
  .row:nth-child(2) {
    transform: translateX(-85vw)!important;
  }
  .row:nth-child(3) {
    transform: translateX(0)!important;
  }
}
@media (orientation:landscape) {
  .banner {
    padding: var(--e-heightx4) var(--e-widthx4);
    font-size: 2vw;
  }
  #cta-legal-container {
    margin-bottom: 1vw;
  }
  #logo {
    width: 25vw;
  }
  .visual {
    height: 150%;
    top: 2vh;
    left: 5%;
  }
  .row:nth-child(2) {
    transform: translate(-17.5vw,0);
  }
}