body {
  margin: 0;
  overflow: hidden;
}
.element {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
#banner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Ember Bold';
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a98ff;
}
.packageShadow {
  left: 0;
  top: 0;
  background-image: url(packageShadow.png);
  width: 390px;
  height: 330px;
}
.package {
  left: 0;
  top: 0;
  background-image: url(package_pl-pl.png);
  width: 390px;
  height: 330px;
}
@font-face {
  font-family: 'Ember Bold';
  src: url(ember_bold.woff2);
}
@font-face {
  font-family: 'Ember Light';
  src: url(ember_light.woff2);
}
@font-face {
  font-family: 'Ember Regular';
  src: url(ember_regular.woff2);
}
#banner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner {
  background-color: #1a98ff;
  display: grid;
  padding: var(--e-heightx1) var(--e-widthx1);
  grid-template-areas: 'box' 'logo' 'ctaLegal';
  grid-template-rows: auto min-content min-content;
  grid-template-columns: auto min-content min-content;
}
#border,
#cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
}
#border {
  border: 1px solid grey;
}
#cover {
  background-color: #fff;
}
#legal {
  font-family: 'Ember Regular';
}
#cta > span {
  position: relative;
}
#cta > span > span:first-child {
  opacity: 0;
}
#cta > span > span:last-child {
  position: absolute;
  right: 0;
}
#banner.product {
  overflow: visible;
}
#banner.product #frame1,
#banner.product #frame2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#banner.product #frame1 {
  background-color: #1a98ff;
  clip-path: inset(0 0 0 -100%);
}
#banner.product #frame2 {
  clip-path: inset(0 -100% 0 0);
  left: 100vw;
}
#banner.product.controller #product > * {
  margin: auto;
  transform: scale(1.25);
}
#banner.product.headphones #frame1 {
  background-color: #0f9f8d;
}
#banner.product.headphones #frame1 #product {
  top: 0;
}
#banner.product.headphones #frame1 #product > *,
#banner.product.headphones #frame1 #product > * > * {
  width: 100%;
  height: 100%;
  margin: auto;
  background-position: center;
}
#banner.product.headphones #frame1 #headphone_shad {
  mix-blend-mode: multiply;
}
#banner.product.vacuum #shine {
  clip-path: circle(25% at 130px 165px);
}
#banner.product.alexa #alexa {
  margin: auto;
  transform: scale(1.5);
}
#banner.product.alexa #shadow {
  mix-blend-mode: multiply;
}
#banner.product.pan #product {
  left: 34%;
  top: -10%;
  transform: scale(.8);
}
#banner.product #product {
  z-index: 20;
}
#package {
  transform: translateZ(.02px);
  background-image: url(package_pl-pl.png);
}
#packageShadow {
  transform: translateZ(.01px);
  background-image: url(packageShadow.png);
}
:root {
  --e-widthx1: 8.59vw;
  --e-heightx1: 10.21vw;
  --e-widthx2: 5.18vw;
  --e-heightx2: 6.16vw;
  --e-widthx4: 2.59vw;
  --e-heightx4: 3.08vw;
  --e-width-landscape: 13.3vh;
  --e-height-landscape: 15.81vh;
}
#pattern-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  top: var(--e-heightx1);
  user-select: none;
  position: absolute;
  left: 0;
  pointer-events: none;
}
#pattern-container > * {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.visual {
  grid-area: box;
  top: 7vh;
  place-items: center;
  flex-grow: 1;
  position: relative;
}
.visual #packageShadow {
  mix-blend-mode: multiply;
}
.visual > * {
  top: 0;
  left: -35%;
  right: 0;
  bottom: 0;
  width: 150%;
  height: 100%;
  position: absolute;
  background-position: center;
}
#cta-legal-container {
  display: flex;
  flex-direction: column;
  grid-area: ctaLegal;
  align-items: center;
}
#cta-legal-container #cta {
  font-size: 1.35625em;
  line-height: 1em;
  text-align: center;
}
#cta-legal-container #cta.hide {
  margin-bottom: -.1em;
  display: block;
}
#cta-legal-container #legal {
  padding-top: .29em;
  font-family: 'Ember Regular';
  font-size: 1.085em;
  line-height: 1;
  margin-bottom: -.1em;
}
#cta-legal-container #legal.hide {
  display: none;
}
@media only screen and (min-width:250px) and (min-height:230px) {
  .banner {
    font-size: 3.3vw;
    padding: calc(var(--e-heightx2)/ 2) var(--e-widthx2) var(--e-heightx2);
    grid-template-areas: 'box box' 'ctaLegal logo';
    grid-template-rows: auto min-content min-content min-content;
    grid-template-columns: auto auto;
  }
  #pattern-container {
    top: calc(var(--e-heightx2)/ 2);
  }
  .visual > * {
    left: -5%;
    width: 100%;
  }
  #logo {
    display: flex;
    width: 50vw;
    padding: 0;
    place-self: end;
  }
  #cta-legal-container {
    align-self: end;
    align-items: flex-start;
  }
  #cta-legal-container #legal {
    max-width: 33vw;
    text-align: left;
  }
}
@media only screen and (min-width:800px) and (min-height:230px) {
  .banner {
    font-size: 1.65vw;
    padding: calc(var(--e-heightx4)/ 2) var(--e-widthx4) var(--e-heightx4);
  }
  #pattern-container {
    top: calc(var(--e-heightx4)/ 2);
  }
  #logo {
    width: 25vw;
  }
}
@media only screen and (min-aspect-ratio:3 / 1) and (max-aspect-ratio:20 / 1) {
  .banner {
    font-size: 1.65vw;
    padding: var(--e-widthx4) var(--e-heightx4);
    grid-template-areas: 'box logo' 'box ctaLegal';
    grid-template-columns: auto min-content;
    place-items: center;
  }
  #pattern-container {
    top: 0;
    max-width: 45vw;
  }
  .visual {
    width: 175%;
    height: 175%;
    left: 20%;
  }
  #logo {
    padding: 0;
    display: flex;
    width: auto;
    height: 45vh;
    place-self: center;
  }
  #cta-legal-container {
    align-items: center;
  }
  #cta-legal-container #cta {
    text-align: center;
  }
  #cta-legal-container #legal {
    max-width: 25vw;
    text-align: center;
  }
  .no-cta {
    grid-template-areas: 'box logo';
  }
  .no-cta #cta-legal-container {
    display: none;
  }
}
@media only screen and (min-aspect-ratio:3 / 1) and (max-aspect-ratio:20 / 1) and (max-height:150px) {
  .banner {
    font-size: 6.5vh;
    padding: calc(var(--e-height-landscape)/ 2) calc(var(--e-width-landscape) * 2);
    grid-template-areas: 'box logo' 'box ctaLegal';
    grid-template-columns: auto max-content;
  }
  #pattern-container {
    top: 0;
    max-width: 60vw;
  }
  .visual {
    height: 250%;
    left: 33%;
  }
  #logo {
    height: 50vh;
    align-self: start;
    justify-self: center;
    justify-content: center;
  }
  #cta-legal-container #cta {
    font-size: 3em;
    margin-bottom: -.1em;
    padding: 0;
  }
  #cta-legal-container #legal {
    font-size: 2em;
  }
  .no-cta {
    grid-template-areas: 'logo';
    grid-template-columns: min-content;
    justify-content: end;
  }
  .no-cta #logo {
    height: 80vh;
  }
  .no-cta #cta-legal-container {
    display: none;
  }
}
@media only screen and (min-aspect-ratio:3 / 1) and (max-aspect-ratio:20 / 1) and (max-height:89px) {
  .banner {
    grid-template-areas: 'logo' 'ctaLegal';
    grid-template-rows: max-content;
    justify-content: end;
  }
  .visual {
    display: none;
  }
  #cta-legal-container {
    align-self: unset;
    align-items: unset;
    justify-self: unset;
    justify-content: unset;
  }
  #cta-legal-container #legal {
    display: none;
  }
}
.banner {
  font-size: 1.65vw;
  padding: var(--e-widthx4) var(--e-heightx4);
  grid-template-areas: 'box logo' 'box ctaLegal';
  grid-template-columns: auto min-content;
  place-items: center;
}
#pattern-container {
  top: 0;
  max-width: 50vw;
}
.visual {
  width: 175%;
  height: 175%;
  left: 20%;
  display: none;
}
#logo {
  fill: #fff;
  grid-area: logo;
  padding: 0;
  display: flex;
  width: auto;
  height: 45vh;
  place-self: center;
}
#cta-legal-container {
  align-items: center;
}
#cta-legal-container #legal {
  max-width: 25vw;
  text-align: center;
}