upload-dropzone {
	display: grid;
	place-items: center;
	min-width: 5em;
	min-height: 5em;
	border-radius: 1em;
	padding: var(--gap);
	gap: var(--gap);
	border: var(--line-width) dashed var(--color-2);
	transition: box-shadow 250ms ease-in-out;
}

upload-dropzone:not([campaign]) {
	display: none;
}

upload-dropzone.active {
	backdrop-filter: blur(10px);
	box-shadow: 0 0 2em var(--color-5);
}
