body {
  margin: 0;
  overflow: hidden;
}
.element {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
#banner {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Ember Bold';
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1a98ff;
}
.visual {
  left: 0;
  top: 0;
  width: 390px;
  height: 330px;
}
.packageShadow {
  left: 0;
  top: 0;
  background-image: url(packageShadow.png);
  width: 390px;
  height: 330px;
}
.package {
  left: 0;
  top: 0;
  background-image: url(package_es-es.png);
  width: 390px;
  height: 330px;
}
@font-face {
  font-family: 'Ember Bold';
  src: url(ember_bold.woff2);
}
@font-face {
  font-family: 'Ember Light';
  src: url(ember_light.woff2);
}
@font-face {
  font-family: 'Ember Regular';
  src: url(ember_regular.woff2);
}
#banner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner {
  background-color: #1a98ff;
  font-size: 2vw;
  display: grid;
  padding: 0 var(--e-widthx1);
  gap: var(--e-widthx2);
  grid-template-areas: 'date1 logo1 date2 logo2 cta';
  grid-template-columns: 1fr 1fr 1fr 1fr max-content;
  place-items: center;
}
#border,
#cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
}
#border {
  border: 1px solid grey;
}
#cover {
  background-color: #fff;
}
#legal {
  font-family: 'Ember Regular';
}
#cta > span {
  position: relative;
}
#cta > span > span:first-child {
  opacity: 0;
}
#cta > span > span:last-child {
  position: absolute;
  right: 0;
}
#banner.product {
  overflow: visible;
}
#banner.product #frame1,
#banner.product #frame2 {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#banner.product #frame1 {
  background-color: #1a98ff;
  clip-path: inset(0 0 0 -100%);
}
#banner.product #frame2 {
  clip-path: inset(0 -100% 0 0);
  left: 100vw;
}
#banner.product.controller #product > * {
  margin: auto;
  transform: scale(1.25);
}
#banner.product.headphones #frame1 {
  background-color: #0f9f8d;
}
#banner.product.headphones #frame1 #product {
  top: 0;
}
#banner.product.headphones #frame1 #product > *,
#banner.product.headphones #frame1 #product > * > * {
  width: 100%;
  height: 100%;
  margin: auto;
  background-position: center;
}
#banner.product.headphones #frame1 #headphone_shad {
  mix-blend-mode: multiply;
}
#banner.product.vacuum #shine {
  clip-path: circle(25% at 130px 165px);
}
#banner.product.alexa #alexa {
  margin: auto;
  transform: scale(1.5);
}
#banner.product.alexa #shadow {
  mix-blend-mode: multiply;
}
#banner.product.pan #product {
  left: 34%;
  top: -10%;
  transform: scale(.8);
}
#banner.product #product {
  z-index: 20;
}
#package {
  transform: translateZ(.02px);
  background-image: url(package_es-es.png);
}
#packageShadow {
  transform: translateZ(.01px);
  background-image: url(packageShadow.png);
}
:root {
  --e-widthx1: 5.18vw;
  --e-widthx2: 2.59vw;
}
.visual,
g#breaks {
  display: none;
}
.logo {
  max-width: 100%;
}
.date svg path,
.logo {
  fill: #fff!important;
}
.date {
  display: contents;
}
.date svg {
  max-width: 100%;
  height: 34vh;
}
#cta {
  line-height: 1em;
}