main {
	--size: 5em;
	display: grid;
	gap: calc(var(--gap) * 0.25);
	place-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content minmax(max-content, 50vh);
	grid-template-areas:
		'name name'
		'preview preview'
		'prev next'
		'squares squares';
}

main > * {
	width: inherit;
}

#name {
	grid-area: name;
	overflow-wrap: break-word;
	align-self: flex-start;
	justify-self: flex-start;
}

main {
	container: main size;
}

#preview {
	grid-area: preview;
	container: preview size;
	flex-basis: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	place-self: center;
	width: min-content;
}

#preview img {
	max-width: unset;
}

#prev,
#next {
	display: grid;
	place-content: center;
	flex-basis: 50%;
	height: var(--size);
}

#next:hover,
#prev:hover {
	background: var(--background-color-1);
}

#prev {
	grid-area: prev;
}

#next {
	grid-area: next;
}

#type svg {
	width: 2em;
}

.squares {
	grid-area: squares;
	display: flex;
	gap: calc(var(--gap) * 0.25);
}

.square {
	/* aspect-ratio: 1; */
	height: var(--size);
	width: inherit;
	background-color: var(--background-color-1);
	display: grid;
	place-content: center;
}

section {
	grid-column: 1 / -1;
	display: grid;
	justify-content: start;
}

/* Alternate layout */

main:has(#preview .tall) {
	grid-template-columns: var(--size) max-content min-content var(--size);
	grid-template-rows: auto auto;
	justify-content: space-between;
	grid-template-areas:
		'name name preview .'
		'prev squares preview next'
		'prev . preview next';
}

main:has(#preview .tall) #preview {
	margin-right: 2em;
	padding-top: 2em;
}

main:has(#preview .tall) :where(#prev, #next) {
	height: 100%;
}

/* Show dimensions */

#width,
#height {
	position: absolute;
	border-width: 0;
	border-style: solid;
	border-color: var(--color-1);
}

#width {
	bottom: calc(100% + 0.05em);
}

#height {
	left: calc(100% - 0.5em);
	rotate: 0.25turn;
	/* transform: rotate(-1turn); */
}
