main {
	--size: 5em;
	display: flex;
	gap: var(--gap);
	justify-content: center;
	place-items: center;
}

main:has(#preview > .tall) {
	gap: calc(var(--gap) * 2);
	justify-content: space-evenly;
	align-items: center;
}

main:has(#preview > .tall) #preview {
	/* grid-row: 1 / 4; */
}

main > * {
	width: inherit;
}

#sidebar {
	display: grid;
	gap: var(--gap);
}

#prev,
#next {
	position: fixed;
	color: var(--color-7);
	/* background: green; */
	font-size: 2em;
	line-height: 3em;
	letter-spacing: 0.1em;
	height: 80vh;
	top: 10vh;
	text-align: center;
	/* text-transform: uppercase; */
}

nav {
	position: absolute;
	top: var(--gap);
}

nav h1 {
	font-family: 'SF Mono', sans-serif;
}

#prev:hover,
#next:hover {
	color: var(--color-2);
}

#prev {
	writing-mode: vertical-lr;
	left: 0;
}

#next {
	writing-mode: vertical-rl;
	right: 0;
}

#name {
	overflow-wrap: break-word;
	align-self: flex-start;
	justify-self: flex-start;
}

main {
	container: main size;
}

nav {
	display: flex;
	justify-content: center;
	place-items: center;
	gap: calc(var(--gap) * 0.33);
}

#preview {
	container: preview size;
	flex-basis: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	place-items: center;
	width: min-content;
	margin-top: 2em;
}

#preview img {
	max-width: unset;
}

#preview :is(img, video) {
	max-width: 90vw;
	max-height: 80vh;
	object-fit: contain;
}

#actions,
#infos {
	display: flex;
	justify-content: center;
	place-items: center;
	gap: var(--gap);
}

#infos > * {
	width: 4em;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--background-color-2);
	border-radius: 100%;
	font-size: 1.25em;
}

#size {
	font-feature-settings: 'tnum';
}

section {
	/* border: solid var(--line-width) var(--color-3); */
	/* padding: var(--gap); */
	width: -webkit-fill-available;
}

#versions,
#comments {
	font-size: 1.6rem;
	width: 100%;
	max-width: 80ch;
}

#versions ul li a.current {
	background: var(--background-color-2);
	color: var(--color-2);
}

#versions ul li a.current:hover {
	background: var(--accent-color-6);
	color: var(--accent-color-9);
}

#versions ul li a {
	display: flex;
	justify-content: space-between;
	place-items: center;
	gap: var(--gap);
	padding: calc(var(--gap) * 0.5) var(--gap);
}

#versions ul li a img {
	width: 3em;
	border-radius: 3em;
}

#versions ul li a relative-date {
	font-weight: normal;
	font-size: 0.8em;
	color: var(--color-3);
}

#versions ul li a span {
	flex-grow: 1;
}

#versions > ul > li .username {
	flex-grow: 1;
	font-weight: bold;
}

#tags ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	gap: var(--gap);
	flex-wrap: wrap;
}
#tags li {
	border-radius: 1em;
	padding: calc(var(--gap) * 0.25) calc(var(--gap) * 0.5);
	background: var(--background-color-2);
}

/* Alternate layout */

/* main:has(#preview .tall) {
	grid-template-columns: var(--size) max-content min-content var(--size);
	grid-template-rows: auto auto;
	justify-content: space-between;
	grid-template-areas:
		'name name preview .'
		'prev squares preview next'
		'prev . preview next';
} */

/* main:has(#preview .tall) #preview {
	margin-right: 2em;
	padding-top: 2em;
} */

/* main:has(#preview .tall) :where(#prev, #next) {
	height: 100%;
} */

/* Show dimensions */

#width,
#height {
	position: absolute;
	border-width: 0;
	border-style: solid;
	border-color: var(--color-1);
}

#width {
	bottom: calc(100% + 0.05em);
}

#height {
	left: calc(100% + 0.25em);
	writing-mode: vertical-lr;
	/* rotate: 0.25turn; */
	/* transform: rotate(-1turn); */
}
